div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h2{
    font-size: 100px;
    display: flex;
    justify-content: center;

}
button{
    font-size: 2rem;
    margin: auto;
}