.item-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .item-detail-box {
    border: 10px solid #e80606;
    padding: 20px;
    text-align: center;
    max-width: 50%;
  }
  