.footer-containter {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 10px; 
    background-color: #ffffff; 
    z-index: 999; 
  }
.footer-icons{
    width: 40px;
}