.footer-containter {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 10px; /* Añade un poco de espacio inferior */
    background-color: #f5f5f5; /* Agrega un color de fondo si es necesario */
    z-index: 999; /* Ajusta la capa z-index si es necesario */
  }
.footer-icons{
    width: 40px;
}